[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4 = "==4.12.3"
django = "==4.2.20"
django-cors-headers = "==4.7.0"
django-import-export = "==4.3.7"
djangorestframework = "==3.15.2"
praw = "==7.8.1"
python-dotenv = "==1.0.1"
python-telegram-bot = {extras = ["job-queue"], version = "==21.11.1"}
requests = "==2.32.3"
selenium = "==4.21.0"
tweepy = "==4.14.0"
whitenoise = "==6.6.0"

[dev-packages]

[requires]
python_version = "3.9"
